body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: 	#000000;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 40px 20px;
    background: linear-gradient(to right, #1f1f1f, #2c2c2c);
}

h1 {
    margin: 0;
    font-size: 40px;
}

.tagline {
    color: #00adb5;
    font-size: 18px;
}

.disclaimer {
    font-size: 12px;
    color: #aaaaaa;
}

nav {
    background-color: #ffffff;
    border-bottom: 1px solid #e5e7eb;
    text-align: center;
    padding: 20px 0;
}

nav a {
    text-decoration: none;
    color: #374151;
    margin: 0 20px;
    font-weight: 500;
    transition: 0.2s;
}

nav a:hover {
    color: #2563eb;
}

section {
    padding: 20px 20px;
    max-width: 900px;
    margin: auto;
}

h2 {
    border-bottom: 2px solid #00adb5;
    padding-bottom: 10px;
}

.project {
    background-color: #1e1e1e;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    transition: 0.3s;
    margin-bottom: 40px;
}

.project:hover {
    transform: scale(1.03);
}

.project h3 {
    margin-bottom: 10px;
}

.project a {
    color: #2563eb;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 40px 0;
    border-top: 1px solid #e5e7eb;
    font-size: 14px;
    color: #6b7280;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.skill {
    background-color: #00adb5;
    padding: 10px 20px;
    border-radius: 20px;
    color: black;
    font-weight: bold;
}

.container {
    width: 85%;
    max-width: 1000px;
    margin: auto;
}

section {
    padding: 80px 0;
}

